.caixa{
position: absolute;
left: 1px;
    width: 1919px;
    height: 576px;
    flex-shrink: 0;
    background: #b4adad;
}
.caixa2{
    position: absolute;
  
    height: 576px;
    top: 650px;
    left: 1px;


    width: 1919px;
height: 576px;
flex-shrink: 0;
   background: #b0b0b8;
   
    

    
}
.texto1{
   position: absolute;
   top: 131px;
   left: 114px;
   right: 980px;
    width: 438px;
    color: #000000;
    font-family: Inter;
    font-size: 23.996px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

}
.foto{
position: absolute;

    
    top: 76px;
    left: 1138px;
    width: 428px;
height: 337px;
border-radius: 10px;




background: #D9D9D9;

}
.barra{
    position: absolute;
    top: 3px;
    left:-43px ;
    width: 1963px;
height:30px;
flex-shrink: 0;
background: #CCC6D2;

}
ul {
    position: relative;
    bottom:  12px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f83c4;
  }
  
  li {
    float: left;
  }
  
  li a, .dropbtn {
    position: relative;
    left: 50px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


button{

    position: absolute;
    left: 110px;
    bottom: 680px;
    width: 186px;
    height: 31px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    
    flex-shrink: 0;
    
    color: #000;
text-align: center;
font-family: Inter;
font-size: 23.996px;
font-style: normal;
font-weight: 600;
line-height: normal;
    
}
